  <div class="container">
    For more information or to discuss a project, contact us:

    <form
      action="https://formspree.io/f/mlekpwjz"
      method="POST"
    >
    <p>
      <label>
        Your email:
        <input type="email" name="email">
      </label>
    </p>
    <p>
      <label>
        Your telephone number:
        <input type="text" name="phone">
      </label>
    </p>
    <p>
      <label>
        Your message:
        <textarea name="message"></textarea>
      </label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
    </form>
  </div>
