@import url(//fonts.googleapis.com/css?family=Libre+Baskerville:400,700);

body {
    font-family: Libre+Baskerville;
    width: 800px;
    margin: auto;
}

footer .container {
    font-size: small;
    color: darkgrey;
}

form {
    margin-right: 50%;
    width: 50%,
}

form label {
    clear: both;
}

form input, textarea {
    float: right;
}