</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>{{ page.title }}</title>
    <link href="/assets/css/main.css" rel="stylesheet">
  </head>
  <body>
  	<div class="banner-outer banner-outer-regional">

  	  <header class="banner" role="banner">

{% include banner.html %}

{% include nav.html %}


  	  </header>
    </div>
    {{ content }}

{% include contact-form.html %}

{% include footer.html %}

  </body>

</html>
